:root {
  --dark-blue1: #06283d;
  --dark-blue2: #0a4d68;
  --stroke: #16213e;
  --blue: #088395;
  --light-blue: #8ed2f8;
  --cyan: #00ffca;

  --snow: #f6f1f1;
  --beige: #ffdb89;
  --light-beige: #fff6c3;
  --yellow: #fce22a;
  --brown: #cd8f2b;
  --brown1: #906821;

  --green: #16ff00;

  --dark-red: #850000;
  --red: #dc0000;
  --light-red: #ed2b2a;

  --dark-brown: #1a120b;
  --gray: #e4dccf;

  --min-width: 450px;
  --max-width: 100%;
  --mobile-breakpoint: 768px;
}

* {
  box-sizing: border-box;
  font-family: "Lobster", cursive;
}

html {
  width: 100%;
  height: 100%;
  background: url("https://i.pinimg.com/originals/e4/15/c4/e415c48c6387706cc02f92b09501cab5.gif")
    no-repeat center center fixed;
  background-size: cover;
  opacity: 0.98;
}

body {
  color: var(--clr-dark);
  background-color: var(--clr-light);
}

.logo {
  text-align: center;
  margin-top: 20px;
}

.logo img {
  width: 250px;
  height: auto;
}

.logo h1 {
  margin-top: -100px;
  justify-content: center;
  align-items: center;
  color: var(--light-beige);
  font-size: 59px;
  text-shadow: 5px 2px 4px rgba(0, 0, 0, 0.6);
  -webkit-text-stroke: 1.7px var(--dark-brown);
  line-height: 1;
  word-spacing: 1px;
}

.wrapper {
  width: calc(100vw - 10px);
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/5b404798-f375-43e8-a53b-2b72c1b2ea0f/dacq5dm-61fc574b-1853-4655-9a85-66d8f0774457.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzViNDA0Nzk4LWYzNzUtNDNlOC1hNTNiLTJiNzJjMWIyZWEwZlwvZGFjcTVkbS02MWZjNTc0Yi0xODUzLTQ2NTUtOWE4NS02NmQ4ZjA3NzQ0NTcuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.DTlW335Num54BwVaCnTIFkHntdQOUoZxd7v-m24FFXo");
  background-repeat: repeat-xy;
  background-size: auto 43%;
  box-shadow: inset 6px 6px rgba(0, 0, 0, 0.5);
  border: 6px solid var(--dark-brown);
  border-radius: 20px;
  padding: 1em;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
  color: var(--light-beige);
  line-height: 30px;
}

.insert {
  grid-template-columns: 1fr 90px;
  grid-column-gap: 30px;
}

input {
  width: 100%;
  height: 50px;
  background: #33291a;
  margin-bottom: 10px;
  border: 2px solid;
  padding-left: 10px;
  border: 6px solid var(--dark-brown);
  border-radius: 20px;
  font-size: 18px;
  color: var(--light-beige);
}

button {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin: auto;
  width: 100%;
  background: var(--brown);
  font-size: 24px;
  color: #fff;
  line-height: 50px;
  cursor: pointer;
  margin-bottom: 10px;
  border: 6px solid var(--dark-brown);
  border-radius: 20px;
  border: 6px solid var(--dark-brown);
}

.output {
  width: 100%;
  background: #33291a;
  text-align: center;
  color: #f7d349;
  font-size: 16px;
  margin-bottom: 20px;
  padding: 10px;
  border: 6px solid var(--dark-brown);
  border-radius: 20px;
  font-size: 16px;
  color: #f7d349;
}

.output h2 {
  margin: 0;
}

#result {
  margin-top: 10px;
}

table {
  width: 100%;
  background: #33291a;
  text-align: center;
  color: #f7d349;
  padding: 10px;
  border: 6px solid var(--dark-brown);
  border-radius: 20px;
  font-size: 16px;
  color: #f7d349;
}

th,
td {
  padding: 5px 0;
  border: 1.5px solid #33291a;
}

th {
  background: #33291a;
}
